includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - src
        - bin

    ignoreErrors:
        -
            message: '#Parameter \#2 \$form of static method Normalizer::normalize\(\) expects int, string given\.#'
            path: src/CodePointString.php
            count: 2

        # This error can safely be ignored as we do these checks when building the data files.
        -
            message: "#Offset 'mapping' does not exist on array\\('status' => string, \\?'mapping' => string\\)\\.#"
            path: src/Idna.php
            count: 2
